@use "../../assets/globals/variable";
.container {
  max-width: 1200px;
  margin: 0 auto;
  .services_list {
    width: 100%;
    margin-top: 50px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: start;
    .service_item {
      width: calc(calc(100% / 2) - 20px);
      min-height: 400px;
      max-height: 400px;
      background-image: url("../../assets/images/service.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      border-radius: 10px;
      cursor: pointer;
      position: relative;
      .serivce_content {
        position: absolute;
        bottom: 30px;
        left: 50%;
        transform: translateX(-50%);
        width: 70%;
        height: 150px;
        background-color: white;
        border-radius: 10px;
        padding: 20px;
        display: flex;
        flex-direction: column;
        gap: 15px;
        box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
        .service_heading {
          font-size: 2rem;
          font-weight: 600;
          color: red;
          line-height: 3rem;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
          max-width: 100%;
        }
        .service_desc {
          font-size: 1.6rem;
          font-weight: 500;
          color: #333;
          // display: -webkit-box;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
          max-width: 100%;
        }
        .service_btn {
          width: 150px;
          height: 45px;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: black;
          color: white;
          border-radius: 40px;
          margin-top: auto;
          margin-bottom: 0;
          font-size: 1.6rem;
          font-weight: 500;
        }
      }
    }
  }
}

.button_main {
  all: unset;
  min-width: 120px;
  max-width: 140px;
  height: 30px;
  font-size: 16px;
  background: transparent;
  border: none;
  position: relative;
  color: #f0f0f0;
  cursor: pointer;
  z-index: 1;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin: 15px 0;
  display: flex;
  gap: 10px;
}

.button_main::after,
.button_main::before {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -99999;
  transition: all .4s;
}

.button_main::before {
  transform: translate(0%, 0%);
  width: 100%;
  height: 100%;
  background: #28282d;
  border-radius: 10px;
}

.button_main::after {
  transform: translate(10px, 10px);
  width: 35px;
  height: 35px;
  background: #ffffff15;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 50px;
}

.button_main:hover::before {
  transform: translate(5%, 20%);
  width: 110%;
  height: 110%;
}

.button_main:hover::after {
  border-radius: 10px;
  transform: translate(0, 0);
  width: 100%;
  height: 100%;
}

.button_main:active::after {
  transition: 0s;
  transform: translate(0, 5%);
}
@media only screen and (max-width: 600px) {
  .container{
    padding: 0 15px;
    .services_list{
      .service_item{
        width: calc(100% / 1) !important;
      }
    }
  }
}